<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LiveBaseUrl"                value="https://api.neteller.com" />
    <add key="TestBaseUrl"                value="https://test.api.neteller.com" />
    <add key="ClientUrl"                  value="/v1/customers"/>
    <add key="AuthUrl"                    value="/v1/oauth2/token?grant_type=client_credentials"/>
    <add key="IsTest"                     value="true"/>
    <add key="NetellerAPIClientId"        value="AAABWvZBXdU3H-5U" />
    <add key="NetellerAPIClientPassword"  value="0.mK7fqegFOgOSrFIrpBpFTFkAClxixAwIBuihYNjPKiw.EAAQNA80wMsWUf3kicYpLEKEZQDtsD4" />
  </appSettings>
</configuration>