<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="CsvDelimeter"                       value=";"/>
    <add key="IsTest"                             value="true"/>
    <add key="NetellerLiveBaseUrl"                value="https://api.neteller.com" />
    <add key="NetellerTestBaseUrl"                value="https://test.api.neteller.com" />
    <add key="NetellerClientUrl"                  value="/v1/customers"/>
    <add key="NetellerAuthUrl"                    value="/v1/oauth2/token?grant_type=client_credentials"/>
    <add key="NetellerMaxChecksPerDay"            value ="100"/>

    <add key="SkrillLiveBaseUrl"                  value="https://api.skrill.com" />
    <add key="SkrillUserIdUrl"                    value="/mqi/customer-verifications/"/>


    <!-- CB Live --><!--
    <add key="IsTest"                     value="true"/>
    <add key="NetellerAPIClientId"        value="AAABTiESuSym96tw" />
    <add key="NetellerAPIClientPassword"  value="0.LcGzGxEv4pSPk73Sv4JjcnBPMngVwWTeFfZmwktUqhw.EAAQ9EFnmPfZ5hiLMDteKsDg0v39fPU" />-->
  
    
    
    <!-- PS Live -->


    <add key="SkrillAPIClientId"        value="84711711" />
    <add key="SkrillAPIClientPassword"  value="C90B926E7785872A067ADDEAC4D1461E" />
    
    <add key="NetellerAPIClientId"        value="AAABWvZBXdU3H-5U" />
    <add key="NetellerAPIClientPassword"  value="0.mK7fqegFOgOSrFIrpBpFTFkAClxixAwIBuihYNjPKiw.EAAQNA80wMsWUf3kicYpLEKEZQDtsD4" />
  
  </appSettings>
</configuration>